vim/backup
tmux/plugins
tmux/tmux/resurrect
node_modules
config/*
!config/nvim
!config/coc
config/coc/*
!config/coc/extensions
config/coc/extensions/*
!config/coc/extensions/package.json
!config/coc/extensions/yarn.lock
